.breadcrumb-holder{
    background-color: #F5F5F5
}
.breadcrumb{
    padding: 10px 0;
    margin: 0
}
.about_us{
    padding: 70px 0
}
.about_us h1{
    letter-spacing: -2px;
    font-size: 82px;
    
}
.about_us hr{
    width: 70%
}
.about-features{
    padding: 0 0 70px;
    
}
.about-features h3{
    letter-spacing: -1px;
}
.about-features p{
    margin-bottom: 20px;
}
.about-ceo{
    background-color: #EEE;
    padding-top: 40px ;
}
.about-ceo .lead{
    line-height: 1.8
}
.about-ceo .btn-primary{
    background: #333;
    border: #333;
}


/* Start FAQ */
.faq{padding: 40px;}
.faq h1{
    letter-spacing: -2px;
    font-size: 65px;
    font-weight: bold;
}
.faq hr{
    width: 70%;
}
.faq-question .panel-heading a:after{
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    color: #444;
}
.faq-question .panel-heading a.collapsed:after{
    font-family: "Glyphicons Halflings";
    content: "\e080";
    float: right;
    color: #444;
}