/* From Zero To Mobile  ==> Smart Phone And Tablet */
@media (max-width:767px){
    .navbar-nav > li > a{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .subscribe .form-control{
        margin: 20px auto;
        width: 400px;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse{
        max-height: none;
    }
    .spicfic{
        text-align: center;
    }
}
/* From Small To Medium */
@media (min-width:768px) and (max-width:991px){
    h1{
        font-size: 100px;
        color: #00F; 
    }
}
/* From Medium To Large*/
@media (min-width:992px) and (max-width:1199px){
    h1{
        font-size: 100px;
        color: #0F0; 
    }
}
/* Large*/
@media (max-width:1200px){}